.about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey-color);
    height: 80%;
}

.about h1{
    font-size: var(--h1-font-size);
    opacity: .2;
}

.about-info{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;

    background-color: var(--black-color);
    padding: 28px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 1.2rem var(--first-color);

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.about-info p{
    font-size: var(--small-font-size);
    bottom: 2px;
}

body.light .about{
    background-color: var(--white-color);
}

body.light .about h1{
    opacity: .5;
}

body.light .about-info{
    background-color: var(--grey-light-color);
}

@media screen and (max-width: 1024px){
    .about-info{
        display: flex;
        align-items: initial;
    }
}

@media screen and (max-width: 768px){
    .about{
        height: 100%;
    }
    
    .about-info{
        display: flex;
        align-items: initial;
    }
}