.home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-info{
    padding-left: 1.5rem;
    border-left: 5px solid var(--white-color);
}

body.light .home-info{
    border-left: 5px solid var(--black-color);
}

.home-info .home-topname{
    font-size: var(--small-font-size);
}
.home-info .home-name{
    font-size: var(--h1-font-size);
}
.home-info .home-bottonname{
    font-size: var(--h2-font-size);
}

@media screen and (max-width: 768px){

    footer{
        height: 220px;
        width: 20vh;
    }
    .rede-social{
        display: flex;
        flex-direction: column;
    }

    .rede-social a{
        margin-bottom: 1rem;
    }
}