.skills{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey-color);
    height: 80%;
}

.skills h1{
    font-size: var(--h1-font-size);
    opacity: .2;
}

.skills-info{
    background-color: var(--black-color);
    padding: 30px;
    margin: 5px;
    width: 60%;
    /* height: 60%; */
    border-radius: 15px;
    box-shadow: 0 0 1.2rem var(--first-color);

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.skills li{
    margin: 10px 0; 
}

.bar{
    background: var(--black-color);
    display: block;
    height: 2px;
    width: 75vh;
    border: 1px solid rbga(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 5px var(--grey-light-color);
}

.bar span{
    height: 10px;
    float: left;
    background-color: var(--first-color);
}

.c{
    width: 60%;
}
.java{
    width: 30%;
}
.javascript{
    width: 45%;
}
.html{
    width: 50%;
}
.css{
    width: 60%;
}

body.light .skills{
    background-color: var(--white-color);
}

body.light .skills h1{
    opacity: .5;
}

body.light .skills-info{
    background-color: var(--grey-light-color);
}

@media screen and (max-width: 1024px){
    .skills-info{
        display: flex;
        align-items: initial;
    }
}

@media screen and (max-width: 768px){
    .skills{
        height: 100%;
    }
    
    .skills-info{
        display: flex;
        align-items: initial;
    }
}