.about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
}

.about h1{
    font-size: var(--h1-font-size);
    left: 0;
    opacity: .06;
    padding-left: 1.5rem;
    border-left: 5px solid var(--white-color);
}

.about-info{
    
    background-color: var(--black-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 1.2rem var(--first-color);

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.about-info p{
    font-size: var(--small-font-size);
}

@media screen and (min-weidth: 768px){
    .about{
        z-index: -1;
    }
}
