/*Var color*/
:root{
    --first-color: #4e1116;
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #0f0f0f;
    --grey-light-color: #cfcfcf;
}

/*Var fonts*/
:root {
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1.37rem;
}
@media screen and (max-width: 768px) {
    :root{
        --h1-font-size: 2.5rem;
        --h2-font-size: 1rem;
        --normal-font-size: 1.1rem;
        --small-font-size: .9rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body{
    font-family: var(--body-font);
    color: var(--white-color);
    font-weight: 700;

    background-color: var(--grey-color);

    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    height: 80px;
    background-color: var(--black-color);
}

section{
    height: 100px;
    background-color: var(--grey-color);

    flex-grow: 1;
}

footer{
    height: 80px;
    background-color: var(--grey-color);
}

.margin{
    max-width: 1200px;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
}

/*---- NAVEGAÇAO ----*/
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 4px;
    font-size: var(--normal-font-size);

    margin-right: 50vh;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-links a{
    color: var(--white-color);
    letter-spacing: 1px;
}

.nav-links a:hover{
    position: relative;
}

.nav-links a:hover::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    left: 2px;
    top: 1.4rem;
    background-color: var(--first-color);
}

/*---- THEME ----*/
body.light,
body.light section,
body.light footer,
body.light .ball{
    color: var(--black-color);
    background-color: var(--white-color);
}

body.light header{
    background-color: var(--grey-light-color);
}

body.light .logo,
body.light .nav-links a,
body.light .rede-social a{
    color: var(--black-color);
}

body.light .burger div, 
body.light .theme{
    background-color: var(--black-color);
}

.theme{
    margin-left: 2rem;

    cursor: pointer;

    position: relative;
    height: 20px;
    width: 50px;
    padding: 2px;
    border-radius: 50px;
    background-color: var(--white-color);
}

.ball{
    position: absolute;
    height: 18px;
    width: 18px;
    top: 1px;
    bottom: 1px;
    background-color: var(--black-color);
    border-radius: 50%; 
    transition: .5s;

}

body.light .ball{
    right: 2px;
}

/*---- BURGER ----*/
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2.5px;
    background-color: var(--white-color);
    margin: 5px;
    transition: .5s;
}

/*---- FOOTER ----*/
.rede-social{
    height: 100%;
    margin-top: 1rem;
}

.rede-social a{
    margin-right: 2rem;
    font-size: var(--normal-font-size);
    color: var(--white-color);
}

.rede-social a:hover{
    color: var(--first-color);
    transition: .3s;
}

@media screen and (max-width: 1024px){
    .nav .nav-links{
        width: 80%;
    }
}

@media screen and (max-width: 768px){

    footer{
        height: 180px;
        width: 20vh;
    }

    .nav .logo{
        margin-right: 0;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-image: linear-gradient(var(--black-color), var(--first-color));
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: .5s;
        z-index: 10;
    }

    body.light .nav-links{
        background-image: linear-gradient(var(--grey-light-color), var(--white-color));
    }

    .nav-links a:hover{
        font-size: 2rem;
        transition: .5s;
    }

    .nav-links a:hover::after{
        display: none;
    }

    .burger{
        display: block;
        margin-left: 5vh;
    }

    .rede-social{
        display: flex;
        flex-direction: column;
    }

    .rede-social a{
        margin-bottom: 1rem;
    }
}

/*---- ANIMATION BURGER ----*/
.show-menu{
    transform: translateX(0%);
}

.burger-animation .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-animation .line2{
    opacity: 0;
}
.burger-animation .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 1200px){
    .margin{
        margin: auto;
    }
}

